body;
html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url(images/GAAQUARIUM.jpg);
background-size: cover;
  background-size: 100%;
}
body, a:link, a:visited, a:active{
color:black;
font-family:fantasy;
background-color:darkblue; /* Black fallback color */
background-color: rgba(0,0,0, 0.1);
height: 60px;
text-align: center;
padding: 20px;
line-height: 20px;
width: 150px;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:60px;
  background-color:gainsboro;
  z-index: 10;
  position:fixed;
max-width:100%;
}
.title{
  background-color: #777;
}
.dancer{
  z-index: 1;
  border:10px;
  border-style: solid;
  border-radius:100px;
  position:absolute;
  transition:top 2s, left 2s;
}
.imageDancer {
  border: none;
  background-repeat: no-repeat !important;
  display: block;
  width: 200px;
  height: 200px;
  background-size: 75% !important;
  border-radius: 0px;
}

.spin {
    -webkit-animation: spin .5s 1 linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
